.navbar-bg {
    background-color: rgba(2, 7, 37, 0.8);
    width: 100%;
}

.navbar {
    height: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 100;
}

.navbar__logo {
    height: 27%;
    width: 11%;
    min-width: 40px;
}

.navbar__fonts {
    display: flex;
    align-items: center;
    gap: 82px;
    cursor: pointer;
}

.navbar__phone {
    font-weight: 600;
    background: linear-gradient(152.75deg, #55AFF3 0.1%, #7C62FD 99.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}