/*@media (max-width: 1800px) {*/
/*    !*.workflow__cards div {*!*/
/*    !*    aspect-ratio: auto;*!*/
/*    !*    min-height: 450px;*!*/
/*    !*}*!*/

/*    .workflow__nums {*/
/*        opacity: .6;*/
/*    }*/
/*}*/


@media (max-width: 1440px) {
    .navbar {
        height: 85px;
    }

    .container {
        padding: 0 97px;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 80px;
        gap: 65px;
    }

    .card {
        filter: drop-shadow(0px 0px 30px rgba(33, 42, 53, 0.13));
        border-radius: 32px;
        height: 100%;
        width: 100%;
        padding: 35px;
    }

    .h1 {
        font-size: 39px;
    }

    .h2 {
        font-size: 48px;
    }

    .navbar__link {
        font-size: 12px;
    }

    .navbar__links {
        gap: 82px;
    }

    .btn-font {
        font-size: 20px;
    }

    .welcome {
        padding-top: 75px;
        gap: 37px;
    }

    .card-subtitle-font {
        font-size: 16px;
    }

    .card-accent-font {
        font-size: 29px;
        width: 80%;
    }

    .card-title-font {
        font-size: 25px;
    }

    .card-li-font {
        font-size: 16px;
    }

    .workflow__list {
        gap: 18px;
    }

    .workflow__cards div {
        gap: 16px;
        padding: 30px;
        aspect-ratio: auto 1 / 1;
    }

    .workflow__nums {
        bottom: -50px;
        right: 25px;
        -webkit-text-stroke: 4px var(--softWhite);
    }

    .workflow__nums-font {
        font-size: 142px;
        line-height: 130%;
    }

    .h3 {
        font-size: 25px;
    }

    .team-font {
        font-size: 25px;
    }

    .card-back-font {
        font-size: 16px;
    }
}


@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 600px) {

}

@media (max-width: 480px) {

}

@media (max-width: 350px) {

}