@media (hover:hover) {
    .about__card:hover {
        filter: hue-rotate(30deg);
    }
}


@media (max-width: 1300px) {
    .navbar__fonts {
        gap: 50px;
    }

    .container {
        padding: 0 70px;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        gap: 98px;
        /*margin-bottom: 250px;*/
    }

    .flashcard {
        min-height: calc(100vw / 3 - 120px);
    }
}

@media (max-width: 1160px) {


    .navbar__fonts {
        gap: 40px;
    }
}

@media (max-width: 1024px) {
    .navbar__fonts {
        gap: 30px;
    }

    .container {
        padding: 0 60px;
    }

    .navbar__font {
        font-size: 14px;
    }

    .navbar__logo {
        min-width: 100px;
    }

    .navbar {
        gap: 35px;
    }
}

@media (max-width: 768px) {
    .flashcard {
        min-height: calc(100vw / 2 - 50px);
    }

    .footer__contacts {
        display: inherit;
    }

    .contacts__info {
        display: none;
    }

    .navbar {
        flex-direction: column;
        gap: 0;
    }

    .navbar__fonts {
        flex-direction: column;
        width: 100%;
        text-align: center;
        border-radius: 0 0 30px 30px;
        background-color: var(--bg);
        overflow: hidden;
    }

    .navbar__font {
        font-size: 16px;
    }

    .navbar__logo {
        height: 100%;
        width: 11%;
        min-width: 130px;
        display: block;
    }

    .navbar-bg {
        height: auto;
    }
}

@media (max-width: 600px) {

}

@media (max-width: 480px) {

}

@media (max-width: 350px) {

}