@font-face {
    src: url("./Rubik-Regular.ttf");
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

@font-face {
    src: url("./Rubik-Medium.ttf");
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

@font-face {
    src: url("./Rubik-SemiBold.ttf");
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

@font-face {
    src: url("./Roboto-Regular.ttf");
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


.btn-font {
    font-weight: 600;
    font-size: 17px;
}

.btn-font--contacts {
    color: #F9F9F9;
    font-size: 17px;
    font-weight: 600;
}

.h1 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    /*line-height: 57px;*/
    /*!* identical to box height *!*/

    text-transform: uppercase;

    color: var(--softWhite);
}

.h2 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    /*line-height: 130%;*/
    /*!* or 78px *!*/

    leading-trim: both;
    text-edge: cap;
}

.projects__info__font {
    color: var(--softWhite);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.h3 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    /*line-height: 130%;*/
    /*!* or 42px *!*/

    text-align: center;
    color: var(--softWhite);
}

.navbar__font {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: var(--softWhite);
}

.card-accent-font {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    /*!* or 47px *!*/

    width: 90%;

    text-transform: uppercase;

    color: var(--softWhite);
}

.card-title-font {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}

.card-subtitle-font {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    /*line-height: 24px;*/
    /*!* identical to box height *!*/

    text-transform: uppercase;
}

.card-li-font {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    /*line-height: 235%;*/
    /*!* or 47px *!*/


    color: var(--softWhite);
}

.card-back-font {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    /* or 28px */


    color: var(--softWhite);
}

.card-back-font--highlight {
    font-weight: 500;
}

.team-font {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;

    text-transform: uppercase;

    /* 1 */

    background: linear-gradient(225deg, #A531DC 0%, #1952E2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-font {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;

    text-transform: uppercase;

    color: var(--softWhite);
}

.h1-contacts {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    leading-trim: both;
    text-edge: cap;

    color: var(--softWhite);

}

.h2-contacts {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;

    leading-trim: both;
    text-edge: cap;

    color: var(--softWhite);
}

.form-font {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;

    color: var(--softWhite);
}

.skills__font {
    color: var(--softWhite);
    font-size: 14px;
    line-height: 140%;
}

.workflow__nums-font {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 135px;
    line-height: 130%;
    /* identical to box height, or 247px */
}